body{
    background: #222;
    color: #aaa;
    text-align: center;
}

h1{
    color: orangered;
}

.logowanie{
   display:inline-block;
 	}

.row{
    height: 3em;
    display: flex;
}
.row *{
    height: 100%;
    box-sizing: border-box;
}

.text_control{
    background: white;
    border: 0;
    padding: 1em;
    font-size: 1.2em;
    font-family: monospace;
    color: #20c120;
    width: 6em
}

.pin_label{
    background: red;
    padding: 1em;
    margin-left: 2em;
    color: #222;
    font-family: monospace;
}


input[type="text"]{
    color: #fff;
    text-align: center;
}
input[type="submit"]{
    color: #20c120;
}