
#mario-chat{
    max-width: 600px;
    margin: 30px auto;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
}

#chat-window{
    height: 400px;
    overflow: auto;
    background: #333;
}

#output p{
    margin: 0;
}

#output div{
    width: 25%;
    height: 1px;
    float: left;
}

#answers div{
    width: 15%;
    float: left;
    padding: 5%;
}

#feedback p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong{
    color: #575ed8;
}

.correct{
    color: #20c120;
}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input{
    padding: 10px 20px;
    box-sizing: border-box;
    background: #333;
    border: 0;
    display: block;
    width: 100%;
    background: #333;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    font-family: Nunito;
    font-size: 16px;
}

button{
    background: #575ed8;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 3%;
    width: 24.5%;
}