#roomList {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    // -webkit-box-shadow: inset 0px 0px 38px 38px rgba(0,0,0,1);
    // -moz-box-shadow: inset 0px 0px 38px 38px rgba(0,0,0,1);
    // box-shadow: inset 0px 0px 38px 38px rgba(0,0,0,1);
}

li {
    list-style: none;
    color: #ccc;
    border: 0;
    padding: 0.2em;
    border-bottom: 1px solid #aaa;
    border-bottom-left-radius: 1px;
    text-align: center;
    font-size: 1.7em;
    width: 50%;
    min-width: 180px;
    margin: auto;
    cursor: pointer;
}

.scroll {
    overflow: auto;
}