html {
    height: 100%;
}

body{
    height: 100%;
    background: #000;
    color: #aaa;
    text-align: center;
    font-family: monospace;
    padding: 0;
    margin: 0;
}

@import './sections/container.scss';
@import './sections/header.scss';
@import './sections/input.scss';
@import './sections/list.scss';
@import './sections/submit.scss';
@import './view/first.scss';
@import './view/questions.scss';