h6 {
    font-size: 2.5em;
    padding: 1em;
    margin: 0;
    margin-bottom: 2em;
}

.ans {
    width: 85%;
    border: 0.1em solid #ccc;
    margin: 1em;
    padding: 1em;
    cursor: pointer;
    
    &:hover {
    border: 0.3em solid #ccc;
    padding: 0.8em;
    font-weight: 1000;
    }
}